@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Podaj dane dodawanego użytkownika:</h2>
            <form asp-controller="Contact" asp-action="Create" method="POST">
                <div class="mb-3">
                    <label class="form-label" asp-for="first_name"></label>
                    <input class="form-control" asp-for="first_name" />
                    <span asp-validation-for="first_name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="surname"></label>
                    <input class="form-control" asp-for="surname" />
                    <span asp-validation-for="surname" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="birth_date"></label>
                    <input class="form-control" asp-for="birth_date" />
                    <span asp-validation-for="birth_date" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Priority"></label>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                    <select class="form-control" asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="OrganizationId"></label>
                    <span asp-validation-for="OrganizationId" class="text-danger"></span>
                    <select class="form-control" asp-for="Priority" asp-items="@Model.Organizations"></select>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit" asp-action="Index">Wróć</button>
                    <button class="btn btn-primary" type="submit">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>