html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 120px 0 60px;
    background-color: black;
}




/*   NAVIGATION BAR     */
.navbar-brand {
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: block;
    font-weight: bold;
    color: purple !important;
    font-size: 25px;
    width: 130px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    z-index: 1000;
}

.navbar-container {
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.navbar-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.navbar-item a:hover {
    opacity: 0.6;
    font-size: 21px;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.log-item,
.log-item button {
    display: block;
    position: relative;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 2px;
}

.underline:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: purple;
    bottom: 0;
    left: -100%;
    transition: 0.4s;
}

.underline:hover:after{
    left: 0;
}

input:is([type="button"], [type="submit"], [type="reset"]), input[type="file"]::file-selector-button, button, .log-item a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.helloUser{
    padding: 0 6px;
}

.userName{
    color: purple;
}




/*  GALLERY   */
.align-content-center {
    text-align: center;
}

.title{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin: 40px 0;
}

.allPhotosText{
    display: block;
    flex-grow: 6;
    font-size: 40px;
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-transform: uppercase;
    color: white;  
    letter-spacing: 8px;
}

.detailsBtn{
    color: purple;
    transition: .3s;
}

.detailsBtn:hover{
    background-color: purple;
    color: white;
}

.addBtn,
.backBtn,
.clearBtn,
.createBtn{
    grid-column-start: 1;
    color: white;
    border: 1px solid white;
}
.addBtn:hover{
    background-color: purple;
    border-color: white;
    color:white;
}
.backBtn:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.photodiv{
    width: 100%;
    height: 16em;
    overflow: hidden;
    border-bottom: 5px solid purple;
}
.img-thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.card-title{
    margin-bottom: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.mb-4{
    border-radius: 5%;
    overflow: hidden;
}
.img-thumbnail{
    padding: 0;
    border: none;
}
.text-muted{
    font-size: 16px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


    /*    PAGES    */
.pages{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pages ul{
    list-style-type: none;
    cursor: default;
}

.pages ul li{
    display: inline-block;
}

.previousNext,
.previousNext_notUsed{
    font-size: 20px;
    text-decoration: none;
    color:white;
    padding: 10px 12px;
    margin: 15px;
    border-radius: 50%;
    cursor: default;
}
.previousNext {
    background-color: purple;
    cursor: pointer;
}
.previousNext_notUsed {
    background-color: rgb(128, 128, 128);
}
.previousNext_notUsed:hover,
.previousNext:hover,
.pageNumber:hover{
    color:white
}

.pageNumber{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin: 0 50px;
    cursor: default;
}



/*     FOOTER     */
.footer .container{
    text-align: center
}



/*    CREATE API    */
.custom-margin-right {
    margin-right: 20px;
}

.select-field {
    width: 50%;
    box-sizing: border-box;
}

input{
    height: 40px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.addingView {
    color: white;
    margin: 30px 0;
}

.createForm{
    margin: 40px 0;
}




/*     UPDATE     */
.updateContainer{
    display: grid;
    grid-template-columns: 40% 50% 10%;
}
.beforePhoto{
    padding-right: 40px;
    display: grid;
    grid-template-rows: 30% 70%;
    width: 100%;
}
.beforePhoto_photo{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: 2px solid white;
}

.beforePhoto label{
    display: flex;
    justify-content: center;
    text-align: center;
    color:white;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 60px;
}




/*   DETAILS     */
.containerDetails{
    display: grid;
    grid-template-columns: 50% 40% 10%;
    color:white;
}
.szczeg_infor{
    text-align: center;
}

.detailsPhoto{
    position: relative;
    margin-top: 50px;
    margin-right: 60px;
    border: 2px solid white;
}

.downloadBtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0; 
    background-color: rgb(128, 128, 128);
    text-transform: uppercase;
    font-size: 50px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: white !important; 
    text-shadow: purple -2px -2px, purple 2px -2px, purple 2px 2px, purple -2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.detailsPhoto:hover .downloadBtn {
    opacity: 0.5;
}

.detailsPhoto img{
    width: 100%;
}

.detailsInfo{
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100%;
}
.info{
    display: grid;
    grid-template-columns: 50% 50%;
}
.detailsInfo .mb-2{
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid white;
    padding: 25px 0;
    margin: 0 !important;
}

.asp-values .mb-2:last-child{
    border: none;
}

.form-label {
    margin-bottom: 0;
}

.btnback{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*    DELETE    */
.containerDelete{
    color:white;
}
.btnDelete{
    color: red;
    border: 1px solid white;
}





/*    AUTHORS INDEX    */
.colorWhite{
    color:white;
}
.table > :not(caption) > * > * {
    line-height: 35px;
}



/*   AUTHORS CREATE  */
.custom-margin-right {
    margin-right: 20px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}




/*    AUTHORS UPDATE   */
.custom-margin-right {
    margin-right: 20px;
}





/*   LOGIN & REGISTER PAGES     */
.regLogBtns{
    background-color: transparent;
    border-color: white;
}

.regLogBtns:hover{
    color: white;
    background-color: purple;
    border-color: white;
}
.registerLink{
    color:white;
    margin-top: 10px;
    font-size: 12px;
    border: none;
    text-decoration: underline;
}
.registerLink:hover{
    background-color: transparent;
    color: #ff00ff;
}
#registerForm{
    width: 25%;
}






/*    USER PAGE    */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: purple;
}
.nav-link:focus, .nav-link:hover {
    color: white;
}
.col-md-9 h3,
.col-md-6 p{
    color:white;
}
.btn-check{
    color: white;
    background-color: purple;
    border-color: white;
}

.btn-primary {
    color: white;
    background-color: transparent;
    border-color: purple;
}

.btn-primary:hover {
    color: white;
    background-color: purple;
    border-color: white;
}

.roleAdmin{
    color: red;
}

