@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Edytuj dane użytkownika:</h2>
            <form asp-controller="Contact" asp-action="Edit" method="POST">
                <div class="mb-3">
                    <label class="form-label" asp-for="Name"></label>
                    <input class="form-control" asp-for="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Surname"></label>
                    <input class="form-control" asp-for="Surname"/>
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="BirthDate"></label>
                    <input class="form-control" asp-for="BirthDate"/>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Email"></label>
                    <input class="form-control" asp-for="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Phone"></label>
                    <input class="form-control" asp-for="Phone"/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Priority"></label>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                    <select class="form-control" asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Note"></label>
                    <input class="form-control" asp-for="Note"/>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-secondary" type="submit" asp-action="Index">Wróć</button>
                    <button class="btn btn-outline-success" type="submit">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>