@model Author

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container colorWhite">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Potwierdź usunięcie</h2>
            <form asp-controller="Author" asp-action="DeleteConfirmed" method="POST">
                <input asp-for="AuthorId"/>
                <p>Czy na pewno chcesz usunąć autora <b>@Model.Name @Model.Surname</b>, identyfikator nr. <b>@Model.AuthorId</b>?</p>
                <div class="mb-3 buttons">
                    <button class="btn btn-outline-primary backBtn" type="submit" asp-controller="Author" asp-action="Index">Nie</button>
                    <button class="btn btn-outline-danger btnDelete" type="submit">Tak, usuwam</button>
                </div>
            </form>
        </div>
    </div>
</div>