@model Photo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="addingView">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Podaj dane zdjęcia:</h2>
            <form class="createForm" asp-controller="Photo" asp-action="CreateApi" method="POST">
                <div class="mb-3">
                    <label class="form-label" asp-for="Description"></label>
                    <input class="form-control" asp-for="Description"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhotoUrl" class="form-label"></label>
                    <input asp-for="PhotoUrl" class="form-control"/>
                    <span asp-validation-for="PhotoUrl" class="text-danger"></span>
                </div>
                <div class="d-flex mb-3">
                    <div class="select-field custom-margin-right">
                        <label class="form-label" asp-for="Camera"></label>
                        <input class="form-control" asp-for="Camera"/>
                        <span asp-validation-for="Camera" class="text-danger"></span>
                    </div>
                    <div class="select-field">
                        <label class="form-label" asp-for="Date_time"></label>
                        <input class="form-control" asp-for="Date_time"/>
                        <span asp-validation-for="Date_time" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="AuthorId"></label>
                    <input class="form-control" type="text" id="filter"/>
                    <select class="form-control" id="AuthorId" asp-for="AuthorId"></select>
                </div>
                <div class="d-flex mb-3">
                    <div class="select-field custom-margin-right">
                        <label class="form-label" asp-for="Definition"></label>
                        <select class="form-control" asp-for="Definition" asp-items="@Html.GetEnumSelectList<Definition>()"></select>
                    </div>
                    <div class="select-field">
                        <label class="form-label" asp-for="Format"></label>
                        <select class="form-control" asp-for="Format" asp-items="@Html.GetEnumSelectList<Format>()"></select>
                    </div>
                </div>
                <div class="buttons mb-3">
                    <button class="btn btn-outline-secondary backBtn" type="submit" asp-action="PagedGallery">Wróć</button>
                    <button class="btn btn-outline-secondary clearBtn" type="reset">Wyczyść</button>
                    <button class="btn btn-outline-success addBtn" type="submit">Dodaj</button>
                </div>
            </form>
               
            
            @section Scripts
            {
                <script>
                    let select = document.getElementById("AuthorId");
                    let filter = document.getElementById("filter");
                    
                    filter.onchange = function () {
                        if (filter.value.length === 0) {
                            return;
                        }
                        fetch(`/api/authors?q=${filter.value}`)
                            .then(response => response.json())
                            .then(json => {
                                select.innerHTML = "";
                                for (let item of json) {
                                    const option = document.createElement('option');
                                    option.setAttribute('value', item.authorId);
                                    option.innerText = `${item.name} ${item.surname}`;
                                    select.appendChild(option);
                                }
                            })
                    };
                </script>
            }
        </div>
    </div>
</div>