@model Photo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Edytuj dane zdjęcia:</h2>
            <form asp-controller="Photo" asp-action="Update" method="POST">
                 <input type="hidden" asp-for="PhotoId" />
                <div class="mb-3">
                    <label class="form-label" asp-for="Description"></label>
                    <input class="form-control" asp-for="Description"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Camera"></label>
                    <input class="form-control" asp-for="Camera"/>
                    <span asp-validation-for="Camera" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Date_time"></label>
                    <input class="form-control" asp-for="Date_time" value="@Model.Date_time.ToString("yyyy-MM-ddTHH:mm")"/>
                    <span asp-validation-for="Date_time" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="AuthorId"></label>
                    <select class="form-control" asp-for="AuthorId" asp-items="@Model.Author"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Definition"></label>
                    <select class="form-control" asp-for="Definition" asp-items="@Html.GetEnumSelectList<Definition>()"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Format"></label>
                    <select class="form-control" asp-for="Format" asp-items="@Html.GetEnumSelectList<Format>()"></select>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-secondary" type="submit" asp-action="Gallery">Wróć</button>
                    <button class="btn btn-outline-success" type="submit">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>