@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="log-item underline ">
        <a class="helloUser" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            @if (UserManager.GetUserName(User).Contains('@'))
            {
                <span>
                    Witaj <b class="userName">@UserManager.GetUserName(User).Substring(0, UserManager.GetUserName(User).IndexOf('@'))</b>!
                </span>
            }
            else
            {
                <span>
                    Witaj <b class="userName">@UserManager.GetUserName(User)</b>!
                </span>
            }
        </a>
    </li>
    <li class="log-item">
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("PagedGallery", "Photo", new { area = "" })">
            <button class="underline" type="submit">Wyloguj</button>
        </form>
    </li>
}
else
{
    <li class="log-item underline helloUser">
        <a asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
    </li>
    <li class="log-item underline helloUser">
        <a asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
    </li>
}
</ul>
