@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Normalnie wyłałbym emaila do potwierdzenia, ale jeszcze tego nie umiem, więc poprostu <a id="confirm-link" href="@Model.EmailConfirmationUrl">kliknij tutaj</a>, aby potwierdzić swoje konto.
</p>
    }
    else
    {
<p>
        Proszę potwierdzić adres email. Sprawdź swoją skrzynkę elektroniczną.
</p>
    }
}

